body {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    margin: 0;
    padding: 0;
    font-size: 15px;
    background: linear-gradient(45deg, #3498db, #2ecc71, #e74c3c);
    color: #333;
}

.optns{
    font-family:'Courier New', Courier;
    color: aqua;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Algerian', cursive;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    text-align: left;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration:wavy;
    color: hwb(290 96% 2%);
    font-weight: bold;
}

nav a:hover {
    color: #0fe066;
}

.section {
    padding: 20px;
}


#home .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home .left-content {
    width: 45%;
}

#home .right-content img {
    max-width: 50%;
    height: 150px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 300px;
    height: 200px; 
}
.resume{
    height: 400px;
}
#contact a {
    color: #4166ed;
}
#skills {
    overflow-y: auto;
}

.skill-category {
    margin-bottom: 20px;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd; 
    padding: 15px;
    margin: 20px 0; 
}
.right-content_imag img {
    max-width: 350px;
    height: 400px;
    border: 2px solid #f0d8d8;
    border-radius: 5px; 
}
.left-content img {
    max-width: 300px;
    height: 400px;
    border: 2px solid #f0d8d8;
    border-radius: 5px; 
}

.right-content {
    width: 70%;
    margin-top: 20px;
}
.education-item {
    margin-bottom: 20px;
}
.project-item {
    margin-bottom: 20px;
}
.skill-category {
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: black;
      
}

.contact-info img {
    width: 30px;
    margin-right: 10px;
}

footer {
    background-color: #333; 
    color: #fff;
    padding: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
}

footer a {
    color: #fff;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #4166ed; 

}




